<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Olá Mundo</title>
	</h:head>
	
	<h:body>
		<h:form>
			Mensagem:
			<h:inputText value="#{exampleBean.message}" />
			<h:commandButton value="Click here" />
			<br/>
			Mensagem: #{exampleBean.message}
		</h:form>
	</h:body>
	
</html>